@font-face {
  font-family: Honeymoon;
  src: url(fonts/Honeymoon/Honeymoon_PERSONAL.ttf);
}

@font-face {
  font-family: Honeymoon;
  src: url(fonts/Honeymoon/HoneymoonBold_PERSONAL.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Great Vibes;
  src: url(fonts/GreatVibes/GreatVibes.ttf);
}

@font-face {
  font-family: Carolina Mountains;
  src: url(fonts/CarolinaMountains/CarolinaMountains.ttf);
}

@font-face {
  font-family: Alex Brush;
  src: url(fonts/AlexBrush/AlexBrush-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}

.body-front-page-bg {
  background-image: url("./images/pictures/greg_nicki_main_bg.jpg");
  background-repeat: no-repeat;
  font-family: "Nunito Sans";
  position: relative;
  min-height: calc(100vh - 2rem);
}

@media screen and (max-width: 480px) {
  .body-front-page-bg {
    background-position: center top;
    background-size: cover;
    height: calc(100vh - 5rem);
    margin-top: -12rem;
  }
  .body-front-page-bg #name {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .body-front-page-bg {
    background-position: center top 80%;
    background-size: cover;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .body-front-page-bg {
    background-position: center top 68%;
    background-size: cover;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .body-front-page-bg {
    background-position: center top 68%;
    background-size: cover;
  }
  .body-front-page-bg .site-description {
    visibility: hidden;
  }
}

@media screen and (min-width: 1921px) {
  .body-front-page-bg {
    background-position: center top 78%;
    background-size: cover;
  }
  .body-front-page-bg .site-description {
    visibility: hidden;
  }
}

#page {
  position: relative;
  min-height: calc(100vh - 2rem);
}

header {
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  header {
    height: 5rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  header {
    height: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  header .site-branding {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  header .site-branding {
    height: 9rem;
  }
}

header .site-title {
  font-family: "Alex Brush";
}

@media screen and (max-width: 1024px) {
  header .site-title {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  header .site-title {
    width: 1280px;
    padding-left: 3.5rem;
  }
}

@media screen and (min-width: calc(1280px + 1px)) {
  header .site-title {
    text-align: left;
    max-width: 1360px;
    margin: auto;
  }
}

header .site-title a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  header .site-description {
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  header .site-description {
    text-align: right;
  }
}

header nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 5rem;
}

header nav #nav-left {
  margin-left: 3.5rem;
  font-size: 2.75rem;
  font-family: "Alex Brush";
  font-weight: bold;
}

header nav #nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: calc(3.5rem - 24px);
  text-transform: uppercase;
}

header nav #nav-right ul li {
  display: block;
  text-align: center;
  padding: 0 24px;
  text-decoration: none;
  float: left;
  line-height: 5rem;
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
}

header nav #nav-right ul li a {
  color: white;
  text-decoration: none;
}

header nav #nav-right ul li a:hover {
  color: teal;
}

h1 {
  font-family: "Alex Brush";
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

#name {
  text-align: center;
  color: white;
  position: absolute;
  text-shadow: 0 0 25px black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Alex Brush";
  font-weight: bold;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #name {
    top: 30%;
    left: 50%;
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #name {
    top: 48%;
    left: 50%;
    font-size: 6rem;
  }
}

@media screen and (min-width: 1025px) {
  #name {
    top: 35%;
    left: 50%;
    font-size: 10rem;
  }
}

#date {
  text-align: center;
  font-size: 4rem;
  font-family: "Nunito Sans";
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.404);
}

@media screen and (max-width: 480px) {
  #date {
    font-size: 2rem;
    top: 78%;
    left: 50%;
    width: 100%;
    border-radius: 0;
    padding: 1rem 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #date {
    font-size: 2rem;
    top: 75%;
    left: 50%;
    border-radius: 10px;
    padding: 1rem 0;
    width: 500px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
  }
}

@media screen and (min-width: 1025px) {
  #date {
    position: absolute;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    padding: 2rem 0;
    width: 811px;
  }
}

main {
  padding-bottom: 5rem;
}

@media screen and (min-width: 1025px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1360px;
    margin: auto;
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  main {
    width: calc(1280px - 8rem);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
    width: calc(768px - 2rem);
    margin: auto;
    margin-top: 6rem;
  }
}

figcaption {
  margin-top: 0.5em;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  background-color: lightgray;
  padding: 0.5rem 1rem;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .gift-registry-item {
    width: 300px;
    margin: auto;
  }
}

.gift-registry-item .gift-retailer {
  font-size: 2.5rem;
  font-family: "Nunito Sans";
}

.gift-registry-item .gift-retailer i {
  font-weight: 900;
  font-size: 1rem;
  margin-left: 1rem;
  color: white;
  border-style: none;
  background-color: teal;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wedding-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1025px) {
  .wedding-posts {
    width: 960px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .wedding-posts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 664px;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .wedding-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.wedding-posts ul.gift-registry-category-tiles {
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
}

@media screen and (max-width: 480px) {
  .wedding-posts ul.gift-registry-category-tiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -2.5rem;
  }
}

.wedding-posts ul.gift-registry-category-tiles li {
  width: 300px;
  height: 300px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: lightgray;
  color: black;
  margin: 1rem auto;
  border-style: none;
  border-radius: 0.8rem;
  list-style-type: none;
  margin-top: 0;
  text-align: center;
  line-height: calc(300px - 1rem);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .wedding-posts ul.gift-registry-category-tiles li {
    line-height: calc(260px - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .wedding-posts ul.gift-registry-category-tiles li {
    line-height: calc((300px / 2) - 1.5rem);
    height: calc(300px / 2);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .wedding-posts ul.gift-registry-category-tiles li {
    width: 260px;
    height: 260px;
  }
}

.wedding-posts ul.gift-registry-category-tiles li:hover {
  background-color: teal;
  color: white;
  text-decoration: underline;
}

.wedding-posts ul.gift-registry-category-tiles li:hover a {
  color: white;
}

.wedding-posts ul.gift-registry-category-tiles li a {
  text-decoration: none;
  color: black;
}

.wedding-posts ul.gift-registry-category-tiles h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.wedding-posts ul.gift-registry-category-tiles a {
  text-decoration: none;
  color: black;
}

.wedding-posts ul.gift-registry-category-tiles i {
  margin-right: 0.25rem;
  color: red;
}

.wedding-posts article {
  width: 300px;
  height: 300px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: lightgray;
  margin: 1rem auto;
  border-style: none;
  border-radius: 0.8rem;
  position: relative;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .wedding-posts article {
    width: 260px;
    height: 260px;
  }
  .wedding-posts article p {
    font-size: 0.8rem;
  }
}

.wedding-posts article h2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .wedding-posts article h2 {
    font-size: 1rem;
  }
}

.wedding-posts article h2 a {
  text-decoration: none;
  color: black;
}

.wedding-posts article h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.wedding-posts article a {
  text-decoration: none;
  color: black;
}

.wedding-posts article i {
  margin-right: 0.25rem;
  color: red;
}

.wedding-posts article ul.gift-registry-tile-links {
  list-style-type: none;
  margin-left: -2.5rem;
  line-height: 1.5rem;
  position: absolute;
  bottom: 0;
}

.wedding-posts article ul.gift-registry-tile-links li a {
  text-decoration: underline;
}

.wedding-posts article ul.gift-registry-tile-links li a:hover {
  text-decoration: none;
}

.wedding-posts article ul.gift-registry-tile-links li i {
  margin-left: 0.5rem;
}

.wedding-posts .item-purchased {
  background-color: #6e6e6e !important;
}

.wedding-posts .item-purchased strong {
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #comments {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  #comments {
    width: 1360px;
    margin: auto;
    padding-left: calc(460px + 2rem);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  #comments {
    width: 300px;
    padding-left: 0;
    margin-top: -5rem;
    padding-bottom: 5rem;
    margin: auto;
  }
}

#comments .comment-notes, #comments .comment-form-comment, #comments .comment-form-author, #comments .comment-form-email, #comments .comment-form-url, #comments .comment-form-cookies-consent {
  display: none;
}

#respond {
  display: none;
}

#respond:not(#submit) {
  display: block;
}

#content-gift-registry-name {
  font-size: 2rem;
  font-weight: bold;
}

.gift-registry-margin {
  margin-left: 2rem;
}

@media screen and (min-width: 1025px) {
  .page-header {
    width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .page-header .category-more-info {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  .page-header .category-more-info {
    font-weight: bold;
    font-size: 1rem;
    width: 300px;
    margin: auto;
    margin-top: 2rem;
  }
  .page-header .category-more-info:last-child {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .page-header .category-more-info {
    width: calc((300px * 2) + 1rem);
    margin: auto;
    margin-top: 1.5rem;
  }
  .page-header .category-more-info:last-child {
    margin-bottom: 2rem;
  }
}

.page-header h1, .page-entry-title {
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .page-header h1, .page-entry-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .page-header h1, .page-entry-title {
    margin-bottom: 0;
    margin-top: -2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .page-header h1, .page-entry-title {
    font-size: 5rem;
    width: 320px;
  }
}

@media screen and (min-width: calc(1280px + 1px)) {
  .page-header h1, .page-entry-title {
    font-size: 5rem;
    width: 460px;
    padding-right: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  .page-content {
    width: calc(300px - 1rem);
    margin: auto;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .page-content p {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .page-content {
    width: 832px;
  }
  .page-content p {
    padding-right: 4rem;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: calc(1280px + 1px)) {
  .page-content {
    width: 900px;
    margin: auto;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .page-content h2 {
    margin-left: 3rem;
  }
}

.page-content h3 {
  font-family: 'Overpass';
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .page-content h3 {
    margin-left: 3rem;
  }
}

.page-content a {
  color: black;
}

.page-content a:visited {
  color: black;
}

.page-content a:hover {
  text-decoration: none;
}

.page-content .larger-paragraph-font-size {
  font-size: 3rem;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1360px;
  margin: auto;
  padding-left: 460px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-links a {
  background-color: teal;
  padding: 2rem;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.nav-links a i {
  font-weight: 900;
  margin-right: 0.5rem;
}

footer#colophon {
  background-color: black;
  height: 3rem;
  color: white;
  line-height: 3rem;
  margin-top: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer#colophon .site-info {
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (min-width: 1025px) {
  footer#colophon .site-info {
    font-weight: bold;
    letter-spacing: 1.1px;
  }
}

@media screen and (max-width: 480px) {
  footer#colophon .site-info {
    font-size: 0.75rem;
  }
}

footer#colophon .site-info a {
  color: white;
  text-decoration: underline;
}

footer#colophon .site-info a:visited {
  color: white;
}

footer#colophon .site-info a:hover {
  text-decoration: none;
}

#wpgmza_map {
  margin-bottom: 3rem;
}

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-navigation {
    margin: -7rem auto;
    margin-left: calc(((100% - 1280px) / 2) + 24rem);
  }
}

@media screen and (min-width: calc(1280px + 1px)) {
  .main-navigation {
    margin: -7rem auto;
    margin-left: calc(((100% - 1360px) / 2) + 24.25rem);
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main-navigation {
    margin: -2.8rem auto;
  }
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main-navigation ul {
    background-color: teal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -2rem;
  }
}

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
  text-transform: uppercase;
  height: 3rem;
  line-height: 3rem;
  color: white;
}

@media screen and (max-width: 480px) {
  .main-navigation li {
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: black;
    background-color: teal;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main-navigation li {
    border-style: none;
    background-color: teal;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-navigation li {
    background-color: black;
    padding-left: 1.5rem;
  }
  .main-navigation li:first-child {
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: calc(1280px + 1px)) {
  .main-navigation li {
    background-color: black;
    padding-left: 2.5rem;
  }
}

.main-navigation a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-navigation a {
    letter-spacing: 1.2px;
  }
}

@media screen and (min-width: 1025px) {
  .main-navigation a:hover {
    color: teal;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  width: 100%;
  background-color: teal;
  border-style: none;
  font-weight: bold;
  color: white;
  height: 1.5rem;
  margin-top: -1.5rem;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .menu-toggle,
  .main-navigation.toggled ul {
    margin-left: 0;
  }
}

@media screen and (min-width: 1025px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */