$min_desktop_width: 1025px;

$min_tablet_width: 481px;
$max_tablet_width: 1024px;

$max_mobile_width: 480px;

$display_font: 'Sacramento';
$body_font: 'Nunito Sans';

body  {
    padding: 0;
    margin: 0;
    background-image: url('../images/pictures/greg_nicki_main_bg.jpg');
    background-repeat: no-repeat;
    font-family: $body_font;


    @media screen and (max-width: $max_mobile_width) {
        background-position: center top 30%;
    }

    @media screen and (min-width: $min_tablet_width) and (max-width: $max_tablet_width) {
        background-position: center top;
        background-size: cover;
    }

    @media screen and (min-width: $min_desktop_width) {
        background-position: center top 43%;
        background-size: cover;
    }
    
}

header  {
    
    background-color: black;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;

    
    @media screen and (min-width: $min_tablet_width) {
        height: 5rem;
        
    }

    .site-title  {
        font-family: $display_font;

        @media screen and (max-width: $max_tablet_width) {
            text-align: center;
        }

        a  {
            color: white;
            text-decoration: none;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    nav  {

        // @media screen and (min-width: $min_desktop_width) {
        //     display: flex;
        // }
        
        flex-direction: row;
        justify-content: space-between;
        line-height: 5rem;

        // @media screen and (max-width: $max_tablet_width)  {
        //     display: none
        // }

        

        #nav-left  {
            margin-left: 3.5rem;
            font-size: 2.75rem;
            font-family: $display_font;
            font-weight: bold;
        }

        #nav-right  {

            ul  {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                margin-right: calc(3.5rem - 24px);
                text-transform: uppercase;
            
            li  {
                display: block;
                text-align: center;
                padding: 0 24px;
                text-decoration: none;
                float: left;
                line-height: 5rem;
                font-family: 'Nunito Sans';
                letter-spacing: 2px;

                a  {
                    color: white;
                    text-decoration: none;

                    &:hover  {
                        color: teal;
                    }
                }

            }
        }
        
        }
        
        
    }

}

h1  {
    font-family: $display_font;
}

#name  {
    text-align: center;
    color: white;
    
    position: absolute;
    text-shadow: 0 0 25px black;
    transform: translate(-50%, -50%);
    font-family: $display_font;
    font-weight: bold;
    width: 100%;

    @media screen and (max-width: $max_mobile_width) {
        top: 30%;
        left: 50%;
        font-size: 3.5rem;
        
    }

    @media screen and (min-width: $min_tablet_width) and (max-width: $max_tablet_width) {
        top: 48%;
        left: 50%;
        font-size: 6rem;
    }

    @media screen and (min-width: $min_desktop_width) {
        top: 35%;
        left: 50%;
        font-size: 10rem;
    }
}

#date  {
    text-align: center;
    // margin-top: 40vh;
    font-size: 4rem;
    font-family: "Nunito Sans";
    font-weight: bold;
    
    background-color: rgba(255, 255, 255, 0.404);

    @media screen and (max-width: $max_mobile_width) {
        font-size: 2rem;
        top: 78%;
        left: 50%;
        width: 100%;
        border-radius: 0;
        padding: 1rem 0;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    @media screen and (min-width: $min_tablet_width) and (max-width: $max_tablet_width) {
        font-size: 2rem;
        top: 75%;
        left: 50%;
        border-radius: 10px;
        padding: 1rem 0;
        width: 500px;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    @media screen and (min-width: $min_desktop_width) {
        position: absolute;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        top: 75%;
        left: 50%;
        padding: 2rem 0;
        width: 811px;
    }
}

.wedding-posts {
    display: flex;
    

    @media screen and (max-width: $max_mobile_width) {
        flex-direction: column;
        justify-content: space-around;
    }

    @media screen and (min-width: $min_tablet_width) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.page-header  h1  {
    @media screen and (max-width: $max_tablet_width) {
        text-align: center;
        font-size: 4rem;
        margin-bottom: -1rem;
    }
}

article {
    width: 300px;
    height: 300px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: lightgray;
    margin: 1rem auto;
    border-style: none;
    border-radius: 0.8rem;

    h2  {

        margin-top: 0;
        margin-bottom: 0;

        a  {
            text-decoration: none;
            color: black;
        }

    }

    h3  {
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
        font-size: 1rem;
    }

    i  {
        display: inline;
        margin-right: 0.25rem;
        color: red;
    }

}

footer  {

    .site-info  {
        text-align: center;
        font-size: 0.5rem;
    }

}


/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
    padding-left: 1.5rem;
    text-transform: uppercase;
    height: 3rem;
    line-height: 3rem;
    background-color: teal;
    color: white;
}

.main-navigation a {
	display: block;
	text-decoration: none;
    color: white;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}